@font-face {
  src: url(pkm.ttf);
  font-family: nose;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: nose;
  opacity: 1;
  transition: 1s;
}

:root {
  --bg-color: #ffff;
  --fire: #c82404;
  --bug: #9fad20;
  --dark: #48362a;
  --dragon: #503da5;
  --electric: #f8b617;
  --fairy: #e28be2;
  --fighting: #7f351e;
  --flying: #90a2ef;
  --ghost: #5c5cac;
  --grass: #409e09;
  --ground: #cdac53;
  --ice: #6ed4f4;
  --normal: #c5bfb6;
  --poison: #6b246e;
  --psychic: #dc3464;
  --rock: #857034;
  --steel: #ccccdc;
  --water: #1470cd;
}

.dark-mode {
  --bg-color: #222831;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container .barra {
  position: absolute;
  top: 5rem;
}

.container .barra input {
  width: 300px;
  height: 25px;
  text-align: center;
  outline: thick double #e0e0e0;
}

.container .barra button {
  position: absolute;
  top: 0.5rem;
  left: 17.3rem;
  width: 28px;
  background: transparent;
  border: none;
}

.container .barra button:focus {
  outline: 0;
}

.container .box {
  width: 60%;
  height: 50%;
  background-color: #d6d6d6;
  display: flex;
  justify-content: center;
  outline: 10px double #a1a1a1;
}

.container .box .poke-img {
  position: absolute;
  top: 10rem;
  width: 150px;
  height: 150px;
}

.container .box .types {
  padding-top: 7vh;
  justify-content: center;
  z-index: 1;
}

.container .box .types img {
  width: 70px;
  transform: translate(0, -50%);
}

.container .box .fact {
  position: absolute;
  margin: 20vh 30vw;
}

.container .box .fact p {
  text-align: center;
  word-spacing: 10px;
  line-height: 1.5;
}

.container .box .buttons {
  width: 100%;
  position: absolute;
}

.container .box .buttons .arrow {
  background: transparent;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transition: 1s;
}

.container .box .buttons .arrow:hover {
  cursor: pointer;
}

.container .box .buttons .arrow:focus {
  outline: 0;
}

.container .box .buttons .arrow:active {
  padding: 20px;
  transition: 1s;
}

.container .box .buttons .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 30rem;
  top: 20rem;
}

.container .box .buttons .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 30rem;
  top: 20rem;
}

.container .box .buttons button.closed {
  display: none;
}
