@font-face {
  src: url(pkm.ttf);
  font-family: nose;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: nose;
}

:root {
  --bg-color: #ffff;
  --fire: #c82404;
  --bug: #9fad20;
  --dark: #48362a;
  --dragon: #503da5;
  --electric: #f8b617;
  --fairy: #e28be2;
  --fighting: #7f351e;
  --flying: #90a2ef;
  --ghost: #5c5cac;
  --grass: #409e09;
  --ground: #cdac53;
  --ice: #6ed4f4;
  --normal: #c5bfb6;
  --poison: #6b246e;
  --psychic: #dc3464;
  --rock: #857034;
  --steel: #ccccdc;
  --water: #1470cd;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.container .barra {
  position: absolute;
  top: 5rem;
}

.container .barra input {
  width: 300px;
  height: 25px;
  text-align: center;
  outline: thick double #e0e0e0;
  font-family: nose;
  font-size: 70%;
}

.container .barra button {
  position: absolute;
  top: 0.5rem;
  left: 17.3rem;
  width: 28px;
  background: transparent;
  border: none;
}

.container .barra button:focus {
  outline: 0;
}

.container .barra button:hover {
  cursor: pointer;
}

.container .box {
  width: 60%;
  height: 50%;
  background-color: #d6d6d6;
  display: flex;
  justify-content: center;
  outline: 10px double #a1a1a1;
  position: absolute;
}

.container .box .name {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .box .id {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70%;
  opacity: 0.7;
}

.container .box .poke-img {
  position: absolute;
  top: -5rem;
  width: 150px;
  height: 150px;
}

.container .box .types {
  padding-top: 7vh;
  justify-content: center;
  z-index: 1;
}

.container .box .types img {
  width: 70px;
  transform: translate(0, -50%);
}

.container .box .fact {
  position: absolute;
  margin: 15vh 10vw;
}

.container .box .fact p {
  text-align: center;
  word-spacing: 10px;
  line-height: 1.5;
}

.container .box .buttons .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  left: 3rem;
  top: 12rem;
}

.container .box .buttons .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 3rem;
  top: 12rem;
}

.container .arrow {
  background: transparent;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transition: 1s;
}

.container .arrow:hover {
  cursor: pointer;
}

.container .arrow:focus {
  outline: 0;
}

.container .arrow:active {
  padding: 20px;
  transition: 1s;
}

.container .pkm-btm {
  position: absolute;
  width: 100%;
}

.container .pkm-btm .left-pkm {
  position: absolute;
  left: 20vw;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.container .pkm-btm .right-pkm {
  position: absolute;
  left: 40vw;
  margin-right: 100px;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
}

.container button.closed {
  display: none;
}

#footer {
  display: flex;
  margin: 5px 0px 0px 0px;
  justify-content: center;
}

#footer a {
  text-decoration: none;
  color: #161ae9;
}

@media (max-width: 640px) {
  .container {
    height: 100vh;
  }
  .container .barra {
    position: absolute;
    top: 2rem;
  }
  .container .box {
    position: absolute;
    height: 70%;
    width: 300px;
    top: 10rem;
  }
  .container .box .poke-img {
    top: -5.8rem;
  }
  .container .box .types {
    position: absolute;
    top: 4rem;
    padding: 0;
  }
  .container .box .types img {
    padding: 0;
  }
  .container .box .fact {
    margin: 8rem 3rem;
  }
  .container .box .fact p {
    font-size: 80%;
  }
  .container .box .name {
    top: 85%;
    left: 50%;
    font-size: 80%;
  }
  .container .box .id {
    top: 90%;
    left: 50%;
    font-size: 80%;
  }
  .container .box .buttons .left {
    left: 0.8rem;
    top: 10rem;
  }
  .container .box .buttons .right {
    right: 0.8rem;
    top: 10rem;
  }
  .container .left-pkm {
    position: relative;
    margin-left: -5%;
  }
  .container .right-pkm {
    position: relative;
    margin-left: 30%;
  }
  #footer {
    font-size: 70%;
  }
}
